<ul *ngFor="let animal of childAnimalList">
  <h2>{{ animal.species | uppercase }}</h2>
  <div><span>Name: </span>{{animal.name | uppercase }}</div>
  <div><span>Age: </span>{{animal.age}}</div>
  <div><span>Diet: </span>{{animal.diet}}</div>
  <div><span>Location: </span>{{animal.location}}</div>
  <div><span>Caretakers: </span>{{animal.caretakers}}</div>
  <div><span>Sex: </span>{{animal.sex}}</div>
  <div><span>Like: </span>{{animal.like}}</div>
  <div><span>Disike: </span>{{animal.dislike}}</div>
  <button type="button" (click)="selectAnimalButtonClicked(animal)">Edit</button>
</ul>
