<header>
  <h1>
    {{title}}
  </h1>
</header>

<section class="animals-list">
  <h2>List of Animals</h2>
  <app-animals-list [childAnimalList]="masterAnimalList" (clickSender)="selectAnimal($event)"></app-animals-list>
</section>

<section class="animals-add">
    <app-animals-add [AnimalConstructorFromParent]="Animal" (newAnimalAdder)="addAnimal($event)"></app-animals-add>
</section>

<section class="animals-edit">
  <app-animals-edit [childSelectedAnimal]="selectedAnimal" (doneEditingSender)="done()"></app-animals-edit>
</section>
